
/*div#infovis-wrapper {border: 1px solid grey; margin: 20px; padding: 5px; height:450px; width:70%;}*/
 #infovis {height: 95%; width: 100%; overflow: auto;}
 
 #index-container, #detail-container, #navigate { overflow: auto;}
 
 #navigate { line-height: 2.5em;}
 #navigate select { margin-right: 0.5em; }
 #navigate label {padding: 0px 2px;}
 a.type-link { padding: 2px 4px;}
 
.block {
    border: 1px solid #999;
    /* background-color: rgba(180,180,240,0.6); */    
}
.detail{
  display: none;
}

.hide { display:none;}

.highlight,
.selected {
    font-weight: bold;
    background: #f66;    
}

.widget-slider {width: 80px;  display:inline-block; font-size: 70%;  margin: 6px 12px 0 2px;}

.detaildivs-wrapper {
float:right;
}

path.link {
  fill: none;
  stroke: #999;
}

path.link.highlight {
    stroke: #f66;
    stroke-width: 1.5px;
}

path.link.fade {
    stroke-opacity: 0.2;
}

circle.highlight {
    stroke: #f66;
    stroke-width: 1.5px;
}

.fade circle, circle.fade {
    opacity: 0.2;
}



.type-collection circle {

  fill: #ffa;

  stroke: #aa9;

  stroke-width: 2px;

}



.type-element circle {
  fill: #99f;
  stroke: #66a;
  stroke-width: 1px;
}


.type-profile circle {
  fill: #66a;
  stroke: #339;
}

.type-profile text{
  font-size: 12px;
  font-weight: bold;
}

.type-component circle {
  fill: #ddf;
  stroke: #99c;
}

.type-datcat circle {
  fill: #6a6;
  stroke: #393;
}

.type-datcat text{
  font-style: italic;
}


.highlight circle,
.selected circle {
    fill: #f66;    
}



circle.selected {
    fill: #f66;
    stroke-width: 2px;
}
text {
  font: 10px sans-serif;
/* pointer-events: none; */
}
text.shadow {
  stroke: #fff;
  stroke-width: 3px;
  stroke-opacity: .8;
}    
